<a href="https://colab.research.google.com/github/Shimaliza/Coursera--Python-Tasks/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# let us import the Pandas Library
import pandas as pd

In [41]:
#Define a dictionary 'x'
x = {'Name': ['Rose','John', 'Jane', 'Mary'], 'ID': [1, 2, 3, 4], 'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}
      
#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000

In [42]:
df.loc[0,"Salary"]

100000

In [22]:
#Retrieving the "ID" column and assigning it to a variable x
x1 = df[['ID']]
x

   ID
0   1
1   2
2   3
3   4

In [23]:
#check the type of x
type(x)

pandas.core.frame.DataFrame

In [24]:
#Retrieving the Department, Salary and ID columns and assigning it to a variable z

z = df[['Department','Salary','ID']]
z

        Department  Salary  ID
0  Architect Group  100000   1
1   Software Group   80000   2
2      Design Team   50000   3
3   Infrastructure   60000   4

Creating a DataFrame

In [26]:
#write your code here
x2 = {'Student': ['David','Samuel', 'Terry', 'Evan'], 'Age': [27, 24, 22, 32], 'Country':['UK', 'Canada','China','USA'], 'Course': ['Python', 'Data Structure', 'Machine Learning', 'Web Development'], 
      'Marks':[85, 72, 89, 76]}
df = pd.DataFrame(x)
df

  Student  Age Country            Course  Marks
0   David   27      UK            Python     85
1  Samuel   24  Canada    Data Structure     72
2   Terry   22   China  Machine Learning     89
3    Evan   32     USA   Web Development     76

Retrieve the Marks column and assign it to a variable

In [27]:
Marks = df[["Marks"]]
Marks

   Marks
0     85
1     72
2     89
3     76

Problem 3: Retrieve the Country and Course columns and assign it to a variable c

In [28]:
c = df[["Country","Course"]]
c

  Country            Course
0      UK            Python
1  Canada    Data Structure
2   China  Machine Learning
3     USA   Web Development

In [29]:
# Get the Student column as a series Object

x3 = df['Student']
x

0     David
1    Samuel
2     Terry
3      Evan
Name: Student, dtype: object

In [30]:
#check the type of x
type(x)

pandas.core.series.Series

loc and iloc

In [31]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'David'

In [32]:
# Access the value on the first row and the third column

df.iloc[0,2]

'UK'

In [43]:
df.loc[0,"Salary"]

100000

Let us create a new dataframe called 'df2' and assign 'df' to it. Now, let us set the "Name" column as an index column using the method set_index().

In [45]:
df2=df
df2=df2.set_index("Name")

In [46]:
#To display the first 5 rows of new dataframe
df2.head()

      ID       Department  Salary
Name
Rose   1  Architect Group  100000
John   2   Software Group   80000
Jane   3      Design Team   50000
Mary   4   Infrastructure   60000

In [47]:
#Now, let us access the column using the name
df2.loc['Jane', 'Salary']

50000

Use the loc() function,to get the Department of Jane in the newly created dataframe df2.

In [48]:
df2.loc["Jane","Department"]

'Design Team'

Use the iloc() function,to get the Salary of Mary in the newly created dataframe df2.

In [50]:
df2.iloc[3,2]

60000

Slicing

In [51]:
# let us do the slicing using old dataframe df

df.iloc[0:2, 0:3]

   Name  ID       Department
0  Rose   1  Architect Group
1  John   2   Software Group

In [52]:
#let us do the slicing using loc() function on old dataframe df where index column is having labels as 0,1,2
df.loc[0:2,'ID':'Department']

   ID       Department
0   1  Architect Group
1   2   Software Group
2   3      Design Team

In [53]:
#let us do the slicing using loc() function on new dataframe df2 where index column is Name having labels: Rose, John and Jane
df2.loc['Rose':'Jane', 'ID':'Department']

      ID       Department
Name
Rose   1  Architect Group
John   2   Software Group
Jane   3      Design Team

using loc() function, do slicing on old dataframe df to retrieve the Name, ID and department of index column having labels as 2,3

In [55]:
df.loc[2:3,"Name":"Department"]

   Name  ID      Department
2  Jane   3     Design Team
3  Mary   4  Infrastructure